html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 28px;

  background-image: url('images/gradient-bg.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-attachment: fixed;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1000px;
  height: 86px;
  padding: 0 24px;
  margin: 0 auto;
}

.site-logo {
  margin: 0;

  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #1f2937;
}

.site-nav a {
  margin-left: 42px;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #1f2937;
}

.intro-section {
  display: flex;
  align-items: center;

  max-width: 1000px;
  padding: 0 24px;
  margin: 150px auto;
  margin-bottom: 0;
}

.intro-section img {
  width: 250;
  height: 250;
  border: 8px solid #ede9fe;
  border-radius: 50%;
  margin-right: 50px;
}

.intro-section h1 {
  margin: 0;

  font-size: 40px;
  line-height: 48px;
  color: #4b5563;
}

.intro-section .highlight-name {
  display: block;
  color: #7c3aed;
}

.banner-image {
  height: 720px;

  background-image: url('images/banner.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.section {
  max-width: 760px;
  padding: 150px 24px;
  margin: 0 auto;
}

.section h2 {
  margin-bottom: 42px;

  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #4b5563;
}

.section a {
  font-weight: bold;
  color: #7c3aed;
}

.about-section h2 {
  display: none;
}

.work {
  padding: 32px 42px;
  margin-bottom: 32px;
  border-radius: 5px;

  background-color: #f9fafb;
}

.work-title {
  margin: 0;

  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}

.work-dates {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #4b5563;
}

.work-description {
  margin-bottom: 0;
}

.contact-section {
  max-width: 712px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin-bottom: 150px;
  border-radius: 5px;

  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #8b5cf6, #5b21b6);
}

.contact-section h2 {
  margin-top: 0;
  margin-bottom: 24px;

  color: #ffffff;
}

.contact-section p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.contact-section .email-button {
  display: inline-block;
  padding: 14px 42px;
  margin-top: 56px;
  margin-bottom: 0;
  border-radius: 5px;

  font-weight: bold;
  text-decoration: none;
  color: #7c3aed;
  background-color: #ffffff;
}

.site-footer {
  padding: 42px 24px;

  text-align: center;
  background-color: #f9fafb;
}

.site-footer p {
  margin: 0;

  color: #4b5563;
}
